body {
	background: linear-gradient(limegreen, white);
}

.letterpmarker {
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
}

.letterlobster {
	font-family: 'Lobster', cursive;
	text-align: center;
	color: lightyellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 2em;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 4em;
    text-align: center;
    font-family: 'Lobster', cursive;
}

h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 2em;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.doublef {
	font-size: 2em;
}

.wcolor {
	color: white;
}

.btn-danger {
	display: block;
	margin: auto;
}

form input {
	float: left;
}

form label {
	padding-right: 15px;
	padding-bottom: 10px;
	clear: left;
	width: 75px;
}

.modal-header {
	font-size: 3em;
	text-align: center;
	color: white;
}

.modal-body {
	font-size: 2em;
	color: darkblue;
	text-align: justify;
}

#Slider1 .slider-selection {
	background: blue;
}

#Slider2 .slider-selection {
	background: green;
}

#Slider3 .slider-selection {
	background: red;
}

#Slider4 .slider-selection {
	background: orange;
}

#Slider5 .slider-selection {
	background: yellow;
}

#Slider6 .slider-selection {
	background: purple;
}

#Slider7 .slider-selection {
	background: chocolate;
}

#Slider8 .slider-selection {
	background: magenta;
}

#Slider9 .slider-selection {
	background: turquoise;
}

#Slider10 .slider-selection {
	background: tan;
}
