body {
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.jumbotron {
    background-color: transparent;
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-align: center;
    padding: 20px;
}

.letterpmarker {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 2em;
	
}

.letterlobster {
	font-family: 'Lobster', cursive;
	text-align: center;
	color: white;
	font-size: 2em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.jumbotron h1 {
	font-size: 6em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.jumbotron h2 {
	font-size: 3em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.doublef {
	font-size: 2em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.wcolor {
	color: white;
}

a:link {
    color: white; 
}

a:visited {
    color: pink;
}

a:hover {
    color: yellow;
}

a:active {
    color: lime;
}